<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <title>배용비즈니스</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="/css/styles.css" rel="stylesheet" />
        <link rel="icon" href="/img/favicon.png">
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <style>
            .switch {
              position: relative;
              display: inline-block;
              width: 45px;
              height: 25px;
            }

            .switch input {
              opacity: 0;
              width: 0;
              height: 0;
            }

            .slider {
              position: absolute;
              cursor: pointer;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: #ccc;
              -webkit-transition: .4s;
              transition: .4s;
            }

            .slider:before {
              position: absolute;
              content: "";
              height: 20px;
              width: 20px;
              left: 2px;
              bottom: 2px;
              background-color: white;
              -webkit-transition: .4s;
              transition: .4s;
            }

            input:checked + .slider {
              background-color: #2196F3;
            }

            input:focus + .slider {
              box-shadow: 0 0 1px #2196F3;
            }

            input:checked + .slider:before {
              -webkit-transform: translateX(20px);
              -ms-transform: translateX(20px);
              transform: translateX(20px);
            }

            /* Rounded sliders */
            .slider.round {
                  border-radius: 25px;
            }

            .slider.round:before {
              border-radius: 50%;
            }
        </style>
        <script th:inline="javascript">
            var header = $("meta[name='_csrf_header']").attr("content");
            var token = $("meta[name='_csrf']").attr("content");
            var openJson = new Array();

            $(function(){
              if(document.getElementById('openYn').value == 0) {
                document.getElementById('openYnCheck').checked = false;
              } else {
                document.getElementById('openYnCheck').checked = true;
              }
            });

            function fn_openYn(obj) {
              let store = new Array();

              store[0] = {
                  "id" : obj.value
              };

              $.ajax({
                  type: "POST"
                , url : "/storeOpen/view"
                , beforeSend: function(xhr){
                  xhr.setRequestHeader(header, token);
                }
                , contentType : "application/json"
                , data : JSON.stringify(store)
                , success : function(data) {
                  let view = JSON.parse(data);

                  if(view[0].openYn == 0) {
                    document.getElementById('openYnCheck').checked = false;
                  } else {
                    document.getElementById('openYnCheck').checked = true;
                  }

                  document.getElementById('openId').value = view[0].id;
                }
                , error : function(e) {
                  alert(e.responseText);
                }
              });
            }

            function fn_openCheck(obj) {
              let store = new Array();
              let openYn = document.getElementById('openYn');

              if(obj.checked == true) {
                openYn.value = 1;
              } else {
                openYn.value = 0;
              }

              store[0] = {
                  "id" : document.getElementById('openId').value
                  , "storeId" : document.getElementById('storeId').value
                  , "openYn" : openYn.value
              };

              $.ajax({
                  type: "POST"
                , url : "/storeOpen/save"
                , beforeSend: function(xhr){
                  xhr.setRequestHeader(header, token);
                }
                , contentType : "application/json"
                , data : JSON.stringify(store)
                , success : function(data) {
                    alert('영업상태 변경이 완료되었습니다.');
                }
                , error : function(e) {
                  alert(e.responseText);
                }
              });
            }

            function sendData(url) {
                $.ajax({
                     url: url
                    ,type: "GET"
                })
                .done(function (fragment) {
                    $('#mainDiv').html(fragment);
                })
                .fail(function (e) {
                    alert("페이지를 찾을 수 없습니다.");
                });
                ;
            }

            function fn_href(obj) {
                document.getElementById('menuTitle').innerHTML = obj.text;
                sendData(obj.dataset.path);
            }
        </script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3">BIZ Delivery</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <h5 id="menuTitle" style="color:white;"></h5>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input id="openYn" type="hidden" th:value="${storeOpen[0].openYn}">
                    <input id="openId" type="hidden" th:value="${storeOpen[0].id}">
                    <b style="color:white; margin-right: 10px;">영업여부</b>
                    <label class="switch">
                        <input id="openYnCheck" type="checkbox" onchange="fn_openCheck(this);">
                        <span class="slider round"></span>
                    </label>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item"  sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div style="margin:5px;">
                                <select id="storeId" th:field="*{store}" class="form-select" onchange="fn_openYn(this);">
                                    <option th:each="s : ${store}" th:value="${s.id}"
                                            th:text="${s.storename}"></option>
                                </select>
                            </div>
                            <div class="sb-sidenav-menu-heading">메뉴</div>
                            <span sec:authorize="hasRole('ROLE_ADMIN')">
                                <a class="nav-link collapsed">
                                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                    <div>운영관리</div>
                                </a>
                                <div>
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" data-path="/store/" onclick="fn_href(this); return false;">- 점포관리</a>
                                        <a class="nav-link" data-path="/menu/all" onclick="fn_href(this); return false;">- 메뉴관리</a>
                                    </nav>
                                </div>
                            </span>
                            <span th:each="menu : ${menu}">
                                <a class="nav-link collapsed">
                                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                    <div th:text="${menu.key.name}"></div>
                                </a>
                                <div>
                                    <nav class="sb-sidenav-menu-nested nav" th:each="menus : ${menu.value}">
                                            <a class="nav-link" th:text="${'- '+menus.name}" th:data-path="${menus.path}" onclick="fn_href(this); return false;"></a>
                                    </nav>
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        <a sec:authentication="name"></a>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main id="mainDiv" style="margin:5px 5px 5px 5px; height:100%; width:100">

                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; cwpark 2023</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="/js/datatables-simple-demo.js"></script>
    </body>
</html>
