<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>상품등록</title>
  <link href="/css/styles2.css" rel="stylesheet"/>
  <link href="/css/styles.css" rel="stylesheet" />
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/js/scripts.js"></script>
  <script src="/js/scripts2.js"></script>
  <script>
    var storeId = document.getElementById('storeId');
    var div = document.getElementById('divTable1');
    var table = document.getElementById('datatable1');
    var divNum = 1;
    var cnt = 0;

    var dv1 = null;
    var dv2 = null;
    var dv3 = null;

    var saveJson = new Array();
    var saveCnt = 0;
    var saveCnt2 = 0;
    var saveCnt3 = 0;

    var array1 = ['categoryId', 'categoryName'];
    var array2 = ['itemId', 'itemName', 'itemCost', 'itemImage'];
    var array3 = ['plusItemId', 'itemName', 'itemCost'];

    // 저장 만들시 ajax
    //contentType: false,               // * 중요 *
    //processData: false,               // * 중요 *
    //enctype : 'multipart/form-data',  // * 중요 *


    // 저장
    function fn_save() {
      let formData = new FormData();
      let fileInput = $('.files');

      for (var i = 0; i < fileInput.length; i++) {
        if (fileInput[i].files.length > 0) {
          for (var j = 0; j < fileInput[i].files.length; j++) {
            formData.append('file', $('.files')[i].files[j]);
            formData.append('fileId', $('.files')[i].id);
          }
        }
      }
      formData.append('json', JSON.stringify(saveJson));
    }

    // 저장 데이터
    function fn_saveData(event, num, iRow, colStatus, category, item) {
      let id = iRow.dataset.id == null ? '' : iRow.dataset.id;
      let findIdx = saveJson.findIndex(function(data){return data.rowId === "data_" + iRow.id});
      let array = ['0', '0']

      if(event == 'check') {
        if(num == 1) {
          if(findIdx < 0) {
            fn_saveData('insert', num, iRow, colStatus);
          }

          array[0] = saveJson.findIndex(function(data){return data.rowId === "data_" + iRow.id});
        } else if(num == 2) {
          let itemIdx = saveJson[category].item.findIndex(function(data){return data.rowId === "data_" + iRow.id});

          if(itemIdx < 0) {
            fn_saveData('insert', num, iRow, colStatus);
          }

          array[0] = category;
          array[1] = saveJson[category].item.findIndex(function(data){return data.rowId === "data_" + iRow.id});
        }

        return array;
      }

      if(event == 'insert') {
        if(num == 1) {
          if(findIdx >= 0) {
            saveJson[findIdx].categoryName = iRow.dataset.categoryName;
            return;
          }

          saveJson[saveCnt++] = {
              "rowId": "data_" + iRow.id
            , "id" : id
            , "storeId" : iRow.dataset.storeId
            , "categoryName" : iRow.dataset.categoryName
            , "item" : new Array()
            , "colStatus" : colStatus
          };
        } else if(num == 2) {
          let itemIdx = saveJson[category].item.findIndex(function(data){return data.rowId === "data_" + iRow.id});

          if(itemIdx >= 0) {
            saveJson[category].item[itemIdx].itemName = iRow.dataset.itemName;
            saveJson[category].item[itemIdx].itemCost = iRow.dataset.itemCost;
            saveJson[category].item[itemIdx].itemImage = iRow.dataset.itemImage;
            return;
          }

          saveJson[category].item[saveCnt2++] = {
              "rowId": "data_" + iRow.id
            , "id" : id
            , "categoryId" : iRow.dataset.categoryId
            , "itemName" : iRow.dataset.itemName
            , "itemCost" : iRow.dataset.itemCost
            , "itemImage" : iRow.dataset.itemImage
            , "plusItem" : new Array()
            , "colStatus" : colStatus
          };
        } else if(num == 3) {
          let itemIdx = saveJson[category].item[item].plusItem.findIndex(function(data){return data.rowId === "data_" + iRow.id});
          console.log(iRow + '_' + itemIdx);
          if(itemIdx >= 0) {
            saveJson[category].item[item].plusItem[itemIdx].itemName = iRow.dataset.itemName;
            saveJson[category].item[item].plusItem[itemIdx].itemCost = iRow.dataset.itemCost;
            return;
          }

          saveJson[category].item[item].plusItem[saveCnt3++] = {
              "rowId": "data_" + iRow.id
            , "id" : id
            , "itemId" : iRow.dataset.itemId
            , "itemName" : iRow.dataset.itemName
            , "itemCost" : iRow.dataset.itemCost
            , "colStatus" : colStatus
          };
        }
      } else if(event == 'delete') {
        if(num == 1) {
          saveJson.splice(findIdx, 1);
          saveCnt--;
        } else if(num == 2) {
          let itemIdx = saveJson[category].item.findIndex(function(data){return data.rowId === "data_" + iRow.id});
          saveJson[category].item.splice(itemIdx, 1);
          saveCnt2--;
        } else if(num == 3) {
          let itemIdx = saveJson[category].item[item].plusItem.findIndex(function(data){return data.rowId === "data_" + iRow.id});
          saveJson[category].item[item].plusItem.splice(itemIdx, 1);
          saveCnt3--;
        }
      }

      console.log(saveJson);
    }

    // 추가 공통
    function fn_commonAdd(row, arr, num, dv, word) {
      let cell;
      let array = ['0', '0'];

      if(dv == null) {
          alert(word + '선택해야합니다.');
          return false;
      }

      row.dataset.id = '';
      row.dataset.status = 'new';
      row.addEventListener("click", () => { fn_trOnClick(row, num); });
      row.className = 'tr_hover1';
      row.id = 'new'+(cnt++);

      for(var i=0; i<arr.length; i++) {
        cell = row.insertCell(i);
        cell.id = row.id + arr[i];
        cell.className = 'td_border';

        if(arr[i] == 'itemImage') {
        cell.innerHTML = '<img id=\"' + row.id + arr[i] + 'img' + '\" style=\"width:100px;height:100px;\"></img>'
                       + '<input id=\"' + row.id + arr[i] + 'temp0' + '\" type=\"file\" style=\"width:200px;display:none;\" onChange=\"fn_changeValue(this)\" class=\"files\">';
        } else {
        cell.innerHTML = '<a id=\"' + row.id + arr[i] + 'a' + '\">ㅤ</a>'
                       + '<input id=\"' + row.id + arr[i] + 'temp0' + '\" type=\"text\" style=\"width:100px;display:none;\" onChange=\"fn_changeValue(this, ' + num + ',\'' + arr[i] + '\')\">';
        }
      }

      if(num == 2) {
        array = fn_saveData('check', 1, dv1, 'N');
      } else if(num == 3) {
        array = fn_saveData('check', 1, dv1, 'N');
        array = fn_saveData('check', 2, dv2, 'N', array[0]);
      }

      fn_saveData('insert', num, row, 'N', array[0], array[1]);
    }

    // 추가
    function fn_add() {
      let row;

      if(divNum == 1) {
        row = table.insertRow();
        row.dataset.storeId = storeId.value;
        row.dataset.categoryName = '';
        fn_commonAdd(row, array1, divNum, '', '');
      } else if(divNum == 2) {
        row = table.insertRow();
        row.dataset.categoryId = '';
        row.dataset.itemName = '';
        row.dataset.itemCost = '';
        row.dataset.itemImage = '';
        fn_commonAdd(row, array2, divNum, dv1, '카테고리');
      } else if(divNum == 3) {
        row = table.insertRow();
        row.dataset.itemId = '';
        row.dataset.itemName = '';
        row.dataset.itemCost = '';
        fn_commonAdd(row, array3, divNum, dv2, '상품');
      }
    }

    // 삭제 공통
    function fn_commonDel(dv, num, word) {
      let array = ['0', '0'];

      if(dv == null) {
        alert('삭제할 대상을 선택해주세요.');
        return false;
      } else if(num == 1 || num == 2) {
        if(document.getElementById('datatable'+(num+1)).rows.length > 1) {
          alert(word + '이(가) 존재합니다.');
          return false;
        }
      }

      if(num == 2) {
        array = fn_saveData('check', 1, dv1, 'N');
      } else if(num == 3) {
        array = fn_saveData('check', 1, dv1, 'N');
        array = fn_saveData('check', 2, dv2, 'N', array[0]);
      }

      fn_saveData('delete', num, dv, 'N', array[0], array[1]);
      table.deleteRow(dv.rowIndex);

      return true;
    }

    // 삭제
    function fn_del() {
      // 테이블
      if(divNum == 1) {
        if(fn_commonDel(dv1, divNum, '상품')) {
          dv1 = null;
        }
      } else if(divNum == 2) {
        if(fn_commonDel(dv2, divNum, '추가상품')) {
          dv2 = null;
        }
      } else if(divNum == 3) {
        if(fn_commonDel(dv3, divNum)) {
          dv3 = null;
        }
      }
    }

    // 행 선택 공통
    function fn_commonTrOnClick(dv, num) {
      let array;
      let arrayTemp = new Array();
      let eventTarget = event.currentTarget;

      if(dv == eventTarget) {
        return dv;
      }

      if(dv != null) {
        if(num == 1) {
          if(!confirm('행 변경 시 수정한 내용이 모두 초기화됩니다.')) {
            return dv;
          }

          array = fn_saveData('check', 1, dv1, 'N');
          saveJson[array[0]].item = new Array();
          saveCnt2 = 0;
          saveCnt3 = 0;

          $("#datatable2 tr:not(:first)").remove();
          $("#datatable3 tr:not(:first)").remove();
          dv2 = null;
          dv3 = null;

          arrayTemp[0] = document.getElementById(dv.id + array1[1] + 'temp0').value;
          document.getElementById(dv.id + array1[1] + 'a').innerHTML = arrayTemp[0]
          document.getElementById(dv.id + array1[1] + 'a').style.display = 'block';
          document.getElementById(dv.id + array1[1] + 'temp0').style.display = 'none';

        } else if(num == 2) {
          if(!confirm('행 변경 시 수정한 내용이 모두 초기화됩니다.')) {
            return dv;
          }

          array = fn_saveData('check', 1, dv1, 'N');
          array = fn_saveData('check', 2, dv2, 'N', array[0]);
          saveJson[array[0]].item[array[1]].plusItem = new Array();
          saveCnt3 = 0;

          $("#datatable3 tr:not(:first)").remove();
          dv3 = null;

          arrayTemp[0] = document.getElementById(dv.id + array2[1] + 'temp0').value;
          arrayTemp[1] = document.getElementById(dv.id + array2[2] + 'temp0').value;
          document.getElementById(dv.id + array2[1] + 'a').innerHTML = arrayTemp[0]
          document.getElementById(dv.id + array2[2] + 'a').innerHTML = arrayTemp[1]
          document.getElementById(dv.id + array2[1] + 'a').style.display = 'block';
          document.getElementById(dv.id + array2[2] + 'a').style.display = 'block';
          document.getElementById(dv.id + array2[1] + 'temp0').style.display = 'none';
          document.getElementById(dv.id + array2[2] + 'temp0').style.display = 'none';
          document.getElementById(dv.id + array2[3] + 'temp0').style.display = 'none';
        } else {
          arrayTemp[0] = document.getElementById(dv.id + array3[1] + 'temp0').value;
          arrayTemp[1] = document.getElementById(dv.id + array3[2] + 'temp0').value;
          document.getElementById(dv.id + array3[1] + 'a').innerHTML = arrayTemp[0]
          document.getElementById(dv.id + array3[2] + 'a').innerHTML = arrayTemp[1]
          document.getElementById(dv.id + array3[1] + 'a').style.display = 'block';
          document.getElementById(dv.id + array3[2] + 'a').style.display = 'block';
          document.getElementById(dv.id + array3[1] + 'temp0').style.display = 'none';
          document.getElementById(dv.id + array3[2] + 'temp0').style.display = 'none';
        }
        dv.style.background = '';
      }

      dv = eventTarget;
      dv.style.background = '#F2F2F2';

      if(num == 1) {
        arrayTemp[0] = document.getElementById(dv.id + array1[1] + 'a').innerHTML;
        document.getElementById(dv.id + array1[1] + 'temp0').value = arrayTemp[0]
        document.getElementById(dv.id + array1[1] + 'a').style.display = 'none';
        document.getElementById(dv.id + array1[1] + 'temp0').style.display = 'block';
      } else if(num == 2) {
        arrayTemp[0] = document.getElementById(dv.id + array2[1] + 'a').innerHTML;
        arrayTemp[1] = document.getElementById(dv.id + array2[2] + 'a').innerHTML;
        document.getElementById(dv.id + array2[1] + 'temp0').value = arrayTemp[0]
        document.getElementById(dv.id + array2[2] + 'temp0').value = arrayTemp[1]
        document.getElementById(dv.id + array2[1] + 'a').style.display = 'none';
        document.getElementById(dv.id + array2[2] + 'a').style.display = 'none';
        document.getElementById(dv.id + array2[1] + 'temp0').style.display = 'block';
        document.getElementById(dv.id + array2[2] + 'temp0').style.display = 'block';
        document.getElementById(dv.id + array2[3] + 'temp0').style.display = 'block';
      } else {
        arrayTemp[0] = document.getElementById(dv.id + array3[1] + 'a').innerHTML;
        arrayTemp[1] = document.getElementById(dv.id + array3[2] + 'a').innerHTML;
        document.getElementById(dv.id + array3[1] + 'temp0').value = arrayTemp[0]
        document.getElementById(dv.id + array3[2] + 'temp0').value = arrayTemp[1]
        document.getElementById(dv.id + array3[1] + 'a').style.display = 'none';
        document.getElementById(dv.id + array3[2] + 'a').style.display = 'none';
        document.getElementById(dv.id + array3[1] + 'temp0').style.display = 'block';
        document.getElementById(dv.id + array3[2] + 'temp0').style.display = 'block';
      }

      return dv;
    }

    // 행 선택
    function fn_trOnClick(obj, num) {
      if(num == 1) {
        dv1 = fn_commonTrOnClick(dv1, num);
      } else if(num == 2) {
        dv2 = fn_commonTrOnClick(dv2, num);
      } else if(num == 3) {
        dv3 = fn_commonTrOnClick(dv3);
      }
    }

    // 셀 값 변경
    function fn_changeValue(obj, num, type) {
      let array = ['0', '0'];

      if(obj.type == 'file') {
        if (obj.files && obj.files[0]) {
          var reader = new FileReader();

          dv2.dataset.itemImage = obj.files[0].name;
          array = fn_saveData('check', 1, dv1, 'N');
          fn_saveData('insert', 2, dv2, 'N', array[0]);

          reader.onload = function(e) {
            document.getElementById(dv2.id + array2[3] + 'img').src = e.target.result;
          };
          reader.readAsDataURL(obj.files[0]);

        } else {
          document.getElementById(dv2.id + array2[3] + 'img').src = "";
        }
      } else {
        if(num == 1) {
          dv1.dataset.categoryName = obj.value;
          fn_saveData('insert', num, dv1, 'N');
        } else if(num == 2) {
          if(type == 'itemName') {
            dv2.dataset.itemName = obj.value;
          } else if(type == 'itemCost') {
            dv2.dataset.itemCost = obj.value;
          }

          array = fn_saveData('check', 1, dv1, 'N');
          fn_saveData('insert', num, dv2, 'N', array[0]);
        } else {
          if(type == 'itemName') {
            dv3.dataset.itemName = obj.value;
          } else if(type == 'itemCost') {
            dv3.dataset.itemCost = obj.value;
          }

          array = fn_saveData('check', 1, dv1, 'N');
          array = fn_saveData('check', 2, dv2, 'N', array[0]);
          fn_saveData('insert', num, dv3, 'N', array[0], array[1]);
        }
      }
    }

    // div 선택
    function fn_onClickDiv(num) {
      let objDiv = document.getElementById('divTable'+num);
      let objTable = document.getElementById('datatable'+num);

      if(div != null) {
        div.className = 'card';
      }

      div = objDiv;
      divNum = num;
      table = objTable;
      div.className = 'cardChoice';
    }
  </script>
</head>
<body>
<div id="div_top" class="card" style="width:100%; height:5%">
  <div id="btnZone1" style="float:left; margin:5px 5px 5px 5px;">
    <nav style="float:right; display:inline-block;">
      <button class="button_2" onclick="fn_add();">추가</button>
      <button class="button_2" onclick="fn_del();">삭제</button>
      <button class="button_2" id="viewBtn" onclick="fn_view(); return false;">조회</button>
      <button class="button_2" id="saveBtn" onclick="fn_save(); return false;">저장</button>
    </nav>
  </div>
</div>
<div style="height:1%"></div>
<div id="div_one" style="width:20%; float:left; height:95%;">
  <div id="divTable1" class="cardChoice" style="width:100%; float:left; height:100%;">
    <div style="width:100%; height:100%; overflow:auto;">
      <div style="width:210px; height:600px; font-size:13px;">
        <h5 onclick="fn_onClickDiv(1); return false;">카테고리</h5>
        <table id="datatable1" style="margin:5px;">
          <thead>
            <tr>
              <th style="width:100px;" class="td_border2">카테고리 코드</th>
              <th style="width:100px;" class="td_border2">카테고리 명</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div style="width:1%; float:left;">ㅤ</div>
<div id="div_two" style="width:39%; float:left; height:95%;">
  <div id="divTable2" class="card" style="width:100%; float:left; height:100%;">
    <div style="width:100%; height:100%; overflow:auto;">
      <div style="width:510px; height:600px; font-size:13px;">
        <h5 onclick="fn_onClickDiv(2); return false;">상품</h5>
        <table id="datatable2" style="margin:5px;">
          <thead>
          <tr>
            <th style="width:100px;" class="td_border2">상품 코드</th>
            <th style="width:100px;" class="td_border2">상품 명</th>
            <th style="width:100px;" class="td_border2">상품 가격</th>
            <th style="width:200px;" class="td_border2">상품 이미지</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div style="width:1%; float:left;">ㅤ</div>
<div id="div_three" style="width:39%; float:left; height:95%;">
  <div id="divTable3" class="card" style="width:100%; float:left; height:100%;">
    <div style="width:100%; height:100%; overflow:auto;">
      <div id="subDiv" style="width:310px; height:600px; font-size:13px;">
        <h5 onclick="fn_onClickDiv(3); return false;">추가상품</h5>
        <table id="datatable3" style="margin:5px;">
          <thead>
          <tr>
            <th style="width:100px;" class="td_border2">상품 코드</th>
            <th style="width:100px;" class="td_border2">상품 명</th>
            <th style="width:100px;" class="td_border2">상품 가격</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>