<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>로그인</title>
        <link href="css/styles.css" rel="stylesheet" />
        <link rel="icon" href="/img/favicon.png">
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <script>
            // id 쿠키가 존재하는 경우 셋팅
            window.onload = function() {
                var id = document.getElementById('inputEmail');
                var remember = document.getElementById('inputRememberPassword');
                var exception = getParameterByName('exception');
                var loginA = document.getElementById('logina');

                if(getCookie("ids")) {
                    id.value = getCookie("ids");
                    remember.checked = true;
                }

                if(exception != "") {
                    history.replaceState({}, null, location.pathname);
                    loginA.innerHTML=exception;
                }
            }

            // id 쿠키 저장
            function setCookie(name, value, expiredays) {
                var todayDate = new Date();
                todayDate.setDate(todayDate.getDate() + expiredays);
                document.cookie = name + "=" + escape(value) + "; path=/; expires=" + todayDate.toGMTString() + ";"
            }

            // id 쿠키 불러오기
            function getCookie(name) {
                var search = name = "=";
                if(document.cookie.length > 0) {
                    offset = document.cookie.indexOf(search);
                    if(offset != -1) {
                        offset += search.length;
                        end = document.cookie.indexOf(";",offset);
                        if(end == -1) {
                            end = document.cookie.length;
                        }
                        return unescape(document.cookie.substring(offset, end));
                    }
                }
            }

            // 로그인 정합성 체크
            function sendit() {
                var id = document.getElementById('inputEmail');
                var password = document.getElementById('inputPassword');
                var remember = document.getElementById('inputRememberPassword');
                var loginForm = document.getElementById('loginForm');

                if(id.value == "") {
                    alert("아이디를 입력해주세요");
                    id.focus();
                    return false;
                }

                if(password.value == "") {
                    alert("패스워드를 입력해주세요");
                    password.focus();
                    return false;
                }

                if(remember.checked == true) {
                    setCookie("ids", id.value, 7);
                } else {
                    setCookie("ids", id.value, 0);
                }

                loginForm.submit();
            }

            // 파라미터 가져오기
            function getParameterByName(name) {
                name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
                var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
                return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
            }
        </script>
    </head>
    <body>
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header">
                                        <h3 class="text-center my-4" style="font-weight:1000; font-size:15px;">배용비즈니스</h3>
                                        <h3 class="text-center my-4" style="font-weight:1000; font-size:30px;">로그인</h3>
                                    <div class="card-body">
                                        <form th:action="@{/login}" method="post" id="loginForm">
                                            <div class="form-floating mb-3">
                                                <input class="form-control" name="username" id="inputEmail" placeholder="아이디를 입력해주세요." />
                                                <label for="inputEmail">아이디</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" name="password" id="inputPassword" type="password" placeholder="Password" />
                                                <label for="inputPassword">비밀번호</label>
                                            </div>
                                            <div class="form-check mb-3">
                                                <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
                                                <label class="form-check-label" for="inputRememberPassword">아이디 저장</label>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <button class="btn btn-primary" onclick="sendit(); return false;">로그인</button>
                                                <a id="logina"></a>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a sec:authorize="isAnonymous()" th:href="@{/register}">회원가입</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; cwpark 2023</div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
