<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>메뉴관리</title>
  <link href="css/styles2.css" rel="stylesheet"/>
  <script>
  let dv;

  // 메뉴 클릭
  function font_onclick(targetId) {
      if(dv != null) {
          dv.style.color = 'black';
      }

      dv = event.currentTarget;

      dv.style.color = 'blue';

      alert(targetId.dataset.depth);
  }

  // 값 체크
  function fn_check() {
    let name = document.getElementById('menuName');
    let path = document.getElementById('menuPath');
    let Id = document.getElementById('menuId');
    let parentNum = document.getElementById('menuParentNum');
    let depth = document.getElementById('menuDepth');
  }
  </script>
</head>
<body>
<div id="div_menu" style="width:30%; float:left; height:100%;">
  <div class="card mb-4" style="width:73%; float:left; height:100%;">
    <div class="card-body">
      <table id="datatablesSimple">
        <tbody>
          <tr th:each="menu : ${menu}">
            <td style="cursor:pointer; font-weight:bold;" onclick="font_onclick(this);"
                th:text="${menu.menuName}"
                th:id="${menu.id}"
                th:data-parentNum="${menu.parentNum}"
                th:data-depth="${menu.depth}"
                th:data-path="${menu.path}"
                th:data-name="${menu.name}">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div style="width:27%; float:left; padding-left:5px; height:100%;">
    <button class="button_2">추가</button>
    <button class="button_2">삭제</button>
  </div>

</div>
<div id="div_menu_detail" class="card mb-4" style="width:70%; height:100%; float:left; height:100%;">
  <div class="card-body" id="menuInput">
    <form th:action="@{/menu/save}" method="post">
      <lable id="menuNameL" style="visibility:hidden">메뉴명 :</lable>
      <input type="text" name="name" id="menuName" style="visibility:hidden">
      <br><br>
      <lable id="menuPathL" style="visibility:hidden">경로 :</lable>
      <input type="text" name="path" id="menuPath" style="visibility:hidden">
      <br><br>
      <input type="hidden" name="id" id="menuId">
      <input type="hidden" name="parentNum" id="menuParentNum">
      <input type="hidden" name="depth" id="menuDepth">
      <button class="button_2" onclick="fn_check(); return false;" style="visibility:hidden">저장</button>
    </form>
  </div>
</div>

</body>
</html>