<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>메뉴관리</title>
  <link href="/css/styles2.css" rel="stylesheet"/>
  <link href="/css/styles.css" rel="stylesheet" />
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
      // 현재 선택된 컴포넌트
      var dv;
      var num = 0;

      // 고정 컴포넌트
      var menuNameL = document.getElementById('menuNameL');
      var menuName = document.getElementById('menuName');
      var menuPathL = document.getElementById('menuPathL');
      var menuPath = document.getElementById('menuPath');

      // Json 배열
      var header = $("meta[name='_csrf_header']").attr("content");
      var token = $("meta[name='_csrf']").attr("content");
      var saveJson = new Array();
      var saveCnt = 0;

  $(function(){
      fn_view();
  });

  // 저장 데이터
  function saveTable(event, iRow, colStatus) {
      let id = iRow.dataset.id == null ? '' : iRow.dataset.id;;
      let path = iRow.dataset.path == null ? '' : iRow.dataset.path;
      let findIdx = saveJson.findIndex(function(data){return data.rowId === "data_" + iRow.id});

      if(event == "insert") {
          // 업데이트
          if(findIdx >= 0) {
              saveJson[findIdx].name = iRow.dataset.name;
              saveJson[findIdx].path = path;

              return true;
          }

          // 신규
          saveJson[saveCnt++] = {
              "rowId": "data_" + iRow.id
            , "parentNum" : iRow.dataset.parentnum
            , "depth" : iRow.dataset.depth
            , "name" : iRow.dataset.name
            , "path" : path
            , "id" : id
            , "colStatus" : colStatus
          };

      } else if(event == "delete") {
          if(findIdx >= 0) {
              saveJson.splice(findIdx, 1);
              saveCnt--;
          }
      }
  }

  // 메뉴 클릭
  function font_onclick() {
      // 이전에 선택한 컴포넌트 원상복구
      if(dv != null) {
          dv.style.color = 'black';
      }

      // 선택한 컴포넌트
      dv = event.currentTarget;

      // 선택한 컴포넌츠 색상 변경
      dv.style.color = 'blue';

      fn_compSet(dv.dataset.depth);
      menuName.value = dv.dataset.name == null ? '' : dv.dataset.name;
      menuPath.value = dv.dataset.path == null ? '' : dv.dataset.path;
  }

  // 메뉴 컴포넌트 설정
  function fn_compSet(depth) {
    // 뎁스 0 : 폼 전체 숨김
    // 뎁스 1 : 메뉴명, 저장버튼 보이기
    // 뎁스 2 : 메뉴명, 경로, 저장버튼 보이기
    if(depth == 2) {
      menuNameL.style.visibility = "visible";
      menuName.style.visibility = "visible";
      menuPathL.style.visibility = "visible";
      menuPath.style.visibility = "visible";
    } else if(depth == 1) {
      menuNameL.style.visibility = "visible";
      menuName.style.visibility = "visible";
      menuPathL.style.visibility = "hidden";
      menuPath.style.visibility = "hidden";
    } else {
      menuNameL.style.visibility = "hidden";
      menuName.style.visibility = "hidden";
      menuPathL.style.visibility = "hidden";
      menuPath.style.visibility = "hidden";
    }
  }

  // 메뉴 추가
  function fn_add() {
      // 메뉴 선택 필수
      if(dv == null) {
        alert('메뉴를 추가할 곳을 선택해주세요.');
        return false;
      // 뎁스 2 인경우 하위에 메뉴 추가 막기
      } else if(dv.dataset.depth == 2) {
        alert('마지막 메뉴입니다.');
        return false;
      // 신규 추가인 경우 하위 메뉴 추가 막기
      } else if(dv.dataset.status == 'new') {
        alert('저장 후 하위에 메뉴 추가가 가능합니다.');
        return false;
      }

      // 상위 메뉴 뎁스
      let parentDepth = dv.dataset.depth;

      // 테이블
      let table = document.getElementById('datatablesSimple');
      let row;
      let cell;

      // 자식메뉴 갯수 추가
      dv.dataset.childcnt++;

      // 뎁스 별 메뉴 모양
      if(parentDepth == 0) {
        row = table.insertRow();
        cell = row.insertCell(0);
        cell.innerText = 'ㅤ└ '  + '새 메뉴';
      } else if(parentDepth == 1) {
        row = table.insertRow(dv.rowIndex+1);
        cell = row.insertCell(0);
        cell.innerText = 'ㅤㅤ└ ' + '새 메뉴';
      }

      // 신규 추가 시 초기화
      row.addEventListener("click", () => { font_onclick(); });
      row.dataset.parentnum = dv.id;
      row.dataset.depth = Number(parentDepth)+1;
      row.dataset.path = '';
      row.dataset.name = '새 메뉴';
      row.dataset.status = 'new';
      row.dataset.childcnt = 0;
      row.id = 'new'+(num++);
      cell.style.cursor = 'pointer';
      cell.style.fontWeight = 'bold';
      cell.id = row.id + 'td';

      saveTable('insert', row, 'N');
  }

  // 메뉴 삭제
  function fn_del() {
      // 테이블
      let table = document.getElementById('datatablesSimple');
      let parent = document.getElementById(dv.dataset.parentnum);

      // 신규 추가인 경우 그냥 삭제
      if(dv == null) {
          alert("삭제할 메뉴를 선택해주세요.");
          return false;
      }

      if(dv.dataset.status == 'new') {
          table.deleteRow(dv.rowIndex);
          saveTable('delete', dv, 'N');
          fn_compSet(0);
          parent.dataset.childcnt--;
      // 기존 데이터인 경우 조건에 따라 처리
      } else {
          if(dv.dataset.depth == 0) {
              alert("대메뉴는 삭제할 수 없습니다.");
              return false;
          } else if(dv.dataset.depth == 1) {
              if(dv.dataset.childcnt != 0) {
                  alert("하위에 메뉴가 존재하는 경우 삭제가 불가능 합니다.");
                  return false;
              }

              table.deleteRow(dv.rowIndex);
              saveTable('insert', dv, 'D');
              fn_compSet(0);
              parent.dataset.childcnt--;
          } else {
              table.deleteRow(dv.rowIndex);
              saveTable('insert', dv, 'D');
              fn_compSet(0);
              parent.dataset.childcnt--;
          }
      }

      dv = null;
  }

  // 메뉴 수정
  function fn_update(obj, check) {
      var tdEle = document.getElementById(dv.id+'td');
      var depth = dv.dataset.depth == 1 ? 'ㅤ└ ' : 'ㅤㅤ└ ';

      if(check == "name") {
          dv.dataset.name = obj.value;
          tdEle.innerText = depth + obj.value;
      } else if(check == "path") {
          dv.dataset.path = obj.value;
      }

      saveTable('insert', dv, 'N');
  }

  // 메뉴 조회
  function fn_view() {
      let subDiv = document.getElementById('subDiv');

      saveCnt = 0;
      saveJson = new Array();

      $.ajax({
          type: "GET"
        , url : "/menu/view"
        , success : function(data) {
          let menuView = JSON.parse(data);
          let tableString = '<table id=\"datatablesSimple\"> ';
              tableString += '  <tbody> ';

          for(let i=0; i<menuView.length; i++) {
              tableString += '    <tr onclick=\"font_onclick();\" ';
              tableString += '        id=\"' + menuView[i].id + '\"';
              tableString += '        data-id=\"' + menuView[i].id + '\"';
              tableString += '        data-parentnum=\"' + menuView[i].parentNum + '\"';
              tableString += '        data-depth=\"' + menuView[i].depth + '\"';
              tableString += '        data-path=\"' + menuView[i].path + '\"';
              tableString += '        data-name=\"' + menuView[i].name + '\"';
              tableString += '        data-childcnt=\"' + menuView[i].childCnt + '\"';
              tableString += '        data-status=\"default\"> ';
              tableString += '      <td id=\"' + menuView[i].id + 'td\" style=\"cursor:pointer; font-weight:bold;\">' + menuView[i].menuName + '</td>';
              tableString += '    </tr> ';

          }
          tableString += '  </tbody> ';
          tableString += '</table> ';

          subDiv.innerHTML = tableString;
        }
        , error : function(e) {
          alert(e.responseText);
        }
      });
  }

  // 메뉴 저장
  function fn_save() {
      if(saveJson.length <= 0) {
          alert('저장할 데이터가 없습니다');
          return false;
      }

      $.ajax({
          type: "POST"
        , url : "/menu/save"
        ,beforeSend: function(xhr){
          xhr.setRequestHeader(header, token);
        }
        , dataType : "text" // dataType에 따라 실패가 될 수도 있음
        , contentType : "application/json"
        , data : JSON.stringify(saveJson)
      })
      .done(successFunction)
      .fail(failFunction);

  }

  function successFunction(){
      alert('저장되었습니다.');
      fn_compSet(0);
      saveCnt = 0;
      saveJson = new Array();
      fn_view();
  }

  function failFunction(){
      alert("관리자에게 문의 바랍니다.");
  }
  </script>
</head>
<body>
<div id="div_menu" style="width:30%; float:left; height:100%;">
  <div class="card mb-4" style="width:100%; float:left; height:100%;">
    <div id="btnZone1" style="float:left; margin:5px 5px 5px 5px;">
      <nav style="float:right; display:inline-block;">
        <button class="button_2" onclick="fn_add();">추가</button>
        <button class="button_2" onclick="fn_del();">삭제</button>
        <button class="button_2" id="viewBtn" onclick="fn_view(); return false;">조회</button>
        <button class="button_2" id="saveBtn" onclick="fn_save(); return false;">저장</button>
      </nav>
    </div>
    <div id="subDiv" class="card-body" style="height:600px; margin:5px 5px 5px 5px; overflow:auto;">
    </div>
  </div>
</div>
<div style="width:1%; float:left;">ㅤ</div>
<div id="div_menu_detail" class="card mb-4" style="width:69%; height:100%; float:left; height:100%;">
  <div class="card-body" id="menuInput">
      <table>
        <tr>
          <td><lable class="label1"  id="menuNameL" style="visibility:hidden;">메뉴명</lable></td>
          <td></td>
          <td><input class="input1" type="text" name="name" id="menuName" onchange="fn_update(this, 'name'); return false;" style="visibility:hidden;"></td>
        </tr>
        <tr>
          <td><lable class="label1"  id="menuPathL" style="visibility:hidden;">경로</lable></td>
          <td></td>
          <td><input class="input1" type="text" name="path" id="menuPath" onchange="fn_update(this, 'path'); return false;" style="visibility:hidden;"></td>
        </tr>
      </table>
  </div>
</div>
</body>
</html>