<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>리뷰확인</title>
  <link href="/css/styles2.css" rel="stylesheet"/>
  <link href="/css/styles.css" rel="stylesheet" />
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/js/scripts.js"></script>
  <script src="/js/scripts2.js"></script>
  <script>
    var storeId = document.getElementById('saveStoreId');
    var frDt = document.getElementById('frDt');
    var toDt = document.getElementById('toDt');

    var header = $("meta[name='_csrf_header']").attr("content");
    var token = $("meta[name='_csrf']").attr("content");

    var dv = null;
    var num = 0;

    var saveJson = new Array();
    var saveCnt = 0;

    var pages = 0;

    $(function(){
      storeId.value = document.getElementById('storeId').value;
    });

    function saveTable(event, iRow, text) {
        let findIdx = saveJson.findIndex(function(data){return data.rowId === "data_" + iRow.dataset.id});

        if(event == "insert") {
            // 업데이트
            if(findIdx >= 0) {
              saveJson[findIdx].contents = text;
              return true;
            }

            // 신규
            saveJson[saveCnt++] = {
                "rowId": "data_" + iRow.dataset.id
              , "reviewId" : iRow.dataset.id
              , "contents" : text
            };

        } else if(event == "delete") {
            if(findIdx >= 0) {
                saveJson.splice(findIdx, 1);
                saveCnt--;
            }
        }
    }

    // 저장
    function fn_save() {
        if(saveJson.length <= 0) {
            alert('저장할 데이터가 없습니다');
            return false;
        }

        $.ajax({
            type: "POST"
          , url : "/reply/save"
          ,beforeSend: function(xhr){
            xhr.setRequestHeader(header, token);
          }
          , contentType : "application/json"
          , data : JSON.stringify(saveJson)
        })
        .done(successFunction)
        .fail(failFunction);
    }

     function successFunction(){
        alert('저장되었습니다.');

        saveCnt = 0;
        saveJson = new Array();
        dv = null;
        num = 0;

        fn_view(pages);
    }

    function failFunction(){
        alert("관리자에게 문의 바랍니다.");
    }

    // 조회
    function fn_view(page) {
      let store = new Array();
      let div1 = document.getElementById('div1');
      let from = frDt.value;
      let to = toDt.value;

      if(from == "" || to == "") {
        alert("날짜를 선택해야합니다.");
        return false;
      } else if(from > to) {
        alert("시작날짜가 종료날짜보다 클 수 없습니다.");
        return false;
      }

      store[0] = {
          "id" : storeId.value
        , "frDt" : from.replace(/-/gi, "")
        , "toDt" : to.replace(/-/gi, "")
        , "page" : page
      };

      $.ajax({
          type: "POST"
        , url : "/review/view"
        , beforeSend: function(xhr){
          xhr.setRequestHeader(header, token);
        }
        , contentType : "application/json"
        , data : JSON.stringify(store)
        , success : function(data) {
          let view = JSON.parse(data);
          let total = view.total / 10;
          let start = Math.floor(page / 10) * 10;
          let end = total < (10 * (Math.floor(page / 10)+1))? total : total - (total - (10 * (Math.floor(page / 10)+1)));

          let str = '        <table id=\"datatable1\" style=\"margin:5px;\"> ';
              str += '          <thead> ';
              str += '          <tr> ';
              str += '            <th style=\"width:100px;\" class=\"td_border2\">점포명</th> ';
              str += '            <th style=\"width:100px;\" class=\"td_border2\">매출일자</th> ';
              str += '            <th style=\"width:100px;\" class=\"td_border2\">영수증번호</th> ';
              str += '            <th style=\"width:100px;\" class=\"td_border2\">별점</th> ';
              str += '            <th style=\"width:100px;\" class=\"td_border2\">답글여부</th> ';
              str += '            <th style=\"width:400px;\" class=\"td_border2\">리뷰</th> ';
              str += '          </tr> ';
              str += '          </thead> ';
              str += '          <tbody> ';

              for(let i=0; i<view.content.length; i++) {
                  str += '  <tr class=\"tr_hover1\" onclick=\"fn_trOnclick(this)\"';
                  str += '      data-text=\"\" ';
                  str += '      data-id=\" ' + view.content[i].id + ' \" ';
                  str += '      data-replyYn=\"' + view.content[i].replyYn + '\" ';
                  str += '  >';
                  str += '    <td class=\"td_border\">' + view.content[i].storeName + '</td>';
                  str += '    <td class=\"td_border\">' + view.content[i].saleDate + '</td>';
                  str += '    <td class=\"td_border\">' + view.content[i].saleId + '</td>';
                  str += '    <td class=\"td_border\">' + view.content[i].starCnt + '</td>';
                  if(view.content[i].replyYn == 'Y') {
                    str += '    <td class=\"td_border\"><div style="text-align : center;"><img src=\"/img/complate.png\" style=\"width:27px; height:17px;\"></div></td>';
                  } else {
                    str += '    <td class=\"td_border\"><div style="text-align : center;"><img src=\"/img/wait.png\" style=\"width:27px; height:17px;\"></div></td>';
                  }
                  str += '    <td class=\"td_border\">';

                  if(typeof view.content[i].image != "undefined") {
                    str += '      <img style=\"width:100px;height:100px;margin:5px;\" accept=\".jpg, .png\" src=\"' + '/files/' + view.content[i].image + '\"></img>';
                  }

                  str += view.content[i].contents;
                  str += '    </td>';
                  str += '  </tr>';
              }

              str += '          </tbody> ';
              str += '        </table> ';
              str += '<div class="page_wrap"> ';
              str += '  <div class="page_nation"> ';
              str += '    <a class="arrow pprev" onclick=\"fn_view(0);\">First</a> ';

              if(page-1 < 0) {
                str += '    <a class="arrow prev" onclick=\"alert(\'처음 페이지 입니다.\');">&lt;</a> ';
              } else {
                str += '    <a class="arrow prev" onclick=\"fn_view(' + (page-1) + ');\">&lt;</a> ';
              }

              for(var i=start; i<end; i++) {
                if(page == i) {
                  str += '<a class=\"active\" onclick=\"fn_view(' + i + ');\">' + (i+1) + '</a>';
                } else {
                  str += '<a onclick=\"fn_view(' + i + ');\">' + (i+1) + '</a>';
                }
              }

              if(page+1 > Math.floor(view.total / 10)) {
                str += '    <a class="arrow next" onclick=\"alert(\'마지막 페이지 입니다.\');">&gt;</a> ';
              } else {
                str += '    <a class="arrow next" onclick=\"fn_view(' + (page+1) + ');\">&gt;</a> ';
              }

              str += '    <a class="arrow nnext" onclick=\"fn_view(' + Math.floor(view.total / 10) + ');\">Last</a> ';
              str += '  </div> ';
              str += '</div> ';

          div1.innerHTML = str;
          pages = page;
        }
        , error : function(e) {
          alert(e.responseText);
        }
      });
    }

    function fn_trOnclick(obj) {
      let table = document.getElementById('datatable1');
      let row, cell, text;

      if(dv != null) {
        table.rows[dv.rowIndex - 1].dataset.text = document.getElementById('reply').value;

        if(table.rows[dv.rowIndex - 1] == obj) {
          table.deleteRow(dv.rowIndex);
          dv = null;
          return false;
        }

        table.deleteRow(dv.rowIndex);
      }

      row = table.insertRow(obj.rowIndex+1);

      cell = row.insertCell(0);
      cell.className = 'td_border';
      cell.colSpan = 6;

      text = '<img src=\"/img/reply.png\" style=\"width:20px; height:20px;\">  답글쓰기 ';
      text += '<input id=\"reply\" type=\"textarea\"style=\"width:100%; height:60px;\" onChange=\"fn_changeReply(this)\">';
      cell.innerHTML = text;

      dv = row;
      document.getElementById('reply').value = table.rows[dv.rowIndex - 1].dataset.text;

      if(obj.dataset.replyyn == 'Y') {
        let review = new Array();

        review[0] = {
            "id" : obj.dataset.id
        };

        $.ajax({
            type: "POST"
          , url : "/reply/view"
          , beforeSend: function(xhr){
            xhr.setRequestHeader(header, token);
          }
          , contentType : "application/json"
          , data : JSON.stringify(review)
          , success : function(data) {
            let view = JSON.parse(data);

            document.getElementById('reply').value = view[0].contents;
            document.getElementById('reply').readOnly = true;
          }
          , error : function(e) {
            alert(e.responseText);
          }
        });
      }
    }

    function fn_changeReply(obj) {
      let table = document.getElementById('datatable1');

      if(obj.value == '') {
        saveTable("delete", table.rows[dv.rowIndex - 1], obj.value)
      } else {
        saveTable("insert", table.rows[dv.rowIndex - 1], obj.value)
      }
    }
  </script>
</head>
<body>
<div id="div_top" class="card" style="width:100%; height:5%">
  <div id="btnZone1">
    <nav style="float:left; display:inline-block;font-size:12px; margin-top:5px; margin-left:5px">
      <input id="frDt" type="date">
      ~
      <input id="toDt" type="date">
    </nav>
    <nav style="float:right; display:inline-block; margin-right:5px;">
      <input id="saveStoreId" type="hidden">
      <button class="button_2" id="viewBtn" onclick="fn_view(0); return false;">조회</button>
      <button class="button_2" id="saveBtn" onclick="fn_save(); return false;">저장</button>
    </nav>
  </div>
</div>
<div style="height:1%"></div>
<div id="div_one" class="card" style="width:100%; float:left; height:95%;">
  <div id="divTable1" style="width:100%; float:left; height:100%;">
    <div style="width:100%; height:100%; overflow:auto;">
      <div id="div1" style="width:910px; height:540px; font-size:13px;">
        <table id="datatable1" style="margin:5px;">
          <thead>
          <tr>
            <th style="width:100px;" class="td_border2">점포명</th>
            <th style="width:100px;" class="td_border2">매출일자</th>
            <th style="width:100px;" class="td_border2">영수증번호</th>
            <th style="width:100px;" class="td_border2">별점</th>
            <th style="width:100px;" class="td_border2">답글여부</th>
            <th style="width:400px;" class="td_border2">리뷰</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>