<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>점포관리</title>
  <link href="/css/styles2.css" rel="stylesheet"/>
  <link href="/css/styles.css" rel="stylesheet" />
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/js/datatables-simple-demo.js"></script>
  <script src="/js/scripts.js"></script>
  <script>
  $(function(){

  });

  function fn_view() {
    let subDiv = document.getElementById('subDiv');

    let str = '<table style=\"margin-left:5px;\">';
        str += '  <thead>';
        str += '    <tr>';
        str += '      <th style="width:100px;" class=\"td_border2\">점포코드</th>';
        str += '      <th style="width:100px;" class=\"td_border2\">점포명</th>';
        str += '      <th style="width:100px;" class=\"td_border2\">계정</th>';
        str += '      <th style="width:100px;" class=\"td_border2\">사업자번호</th>';
        str += '      <th style="width:100px;" class=\"td_border2\">사업자명</th>';
        str += '      <th style="width:100px;" class=\"td_border2\">전화번호</th>';
        str += '      <th style="width:100px;" class=\"td_border2\">운영유형</th>';
        str += '      <th style="width:100px;" class=\"td_border2\">좋아요 수</th>';
        str += '      <th style="width:200px;" class=\"td_border2\">주소</th>';
        str += '      <th style="width:300px;" class=\"td_border2\">점포설명</th>';
        str += '    </tr>';
        str += '  </thead>';
        str += '  <tbody>';
        str += '    <tr class=\"tr_hover1\" onclick=\"tr_onclick(this);\" ';
        str += '        id=\"' + 1 + '\"';
        str += '        data-id=\"' + 2 + '\"';
        str += '        data-parentnum=\"' + 3 + '\"';
        str += '        data-depth=\"' + 4 + '\"';
        str += '        data-path=\"' + 5 + '\"';
        str += '        data-name=\"' + 6 + '\"';
        str += '        data-childcnt=\"' + 7 + '\"';
        str += '        data-status=\"default\"> ';
        str += '      <td class=\"td_border\">1</td>';
        str += '      <td class=\"td_border\">슬기네집</td>';
        str += '      <td class=\"td_border\">skkim</td>';
        str += '      <td class=\"td_border\">7777777777</td>';
        str += '      <td class=\"td_border\">자몽쓰</td>';
        str += '      <td class=\"td_border\">01077777777</td>';
        str += '      <td class=\"td_border\">뭐였더라</td>';
        str += '      <td class=\"td_border\">1334</td>';
        str += '      <td class=\"td_border\">경기도 김포시 풍무동 땡댕댕댕 아라비아 12호</td>';
        str += '      <td class=\"td_border\">운영시간은 0000~2359</td>';
        str += '    </tr>';
        str += '  </tbody>';
        str += '</table>';

     subDiv.innerHTML = str;
  }

  function tr_onclick(obj) {
    alert(obj.id);
  }

  </script>
</head>
<body>
<div id="div_menu" style="width:70%; float:left; height:100%;">
  <div class="card" style="width:100%; float:left; height:100%;">
    <div id="btnZone1" style="float:left; margin:5px 5px 5px 5px;">
      <nav style="float:left; display:inline-block;font-size:12px;">
        점포명 : <input type="text">
      </nav>
      <nav style="float:right; display:inline-block;">
        <button class="button_2" onclick="fn_add();">추가</button>
        <button class="button_2" onclick="fn_del();">삭제</button>
        <button class="button_2" id="viewBtn" onclick="fn_view(); return false;">조회</button>
        <button class="button_2" id="saveBtn" onclick="fn_save(); return false;">저장</button>
      </nav>
    </div>
    <div style="width:100%; overflow:auto;">
      <div id="subDiv" style="width:1310px; height:400px; font-size:13px;">
        <table style="margin-left:5px;">
          <thead>
          <tr>
            <th style="width:100px;" class="td_border2">점포코드</th>
            <th style="width:100px;" class="td_border2">점포명</th>
            <th style="width:100px;" class="td_border2">계정</th>
            <th style="width:100px;" class="td_border2">사업자번호</th>
            <th style="width:100px;" class="td_border2">사업자명</th>
            <th style="width:100px;" class="td_border2">전화번호</th>
            <th style="width:100px;" class="td_border2">운영유형</th>
            <th style="width:100px;" class="td_border2">좋아요 수</th>
            <th style="width:200px;" class="td_border2">주소</th>
            <th style="width:300px;" class="td_border2">점포설명</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div style="width:1%; float:left;">ㅤ</div>
<div id="div_menu_detail" class="card mb-4" style="width:29%; height:100%; float:left; height:100%; font-size:13px;">
  <div class="card-body" id="menuInput">
      <table>
        <tr>
          <td><lable class="label1" id="storeNameL">점포명</lable></td>
          <td><input class="input1" type="text" id="storeNameI" onchange="fn_update(this, 'name'); return false;"></td>
        </tr>
        <tr>
          <td><lable class="label1" id="storeAccountL">계정</lable></td>
          <td><input class="input1" type="text" id="storeAccountI" onchange="fn_update(this, 'path'); return false;"></td>
        </tr>
        <tr>
          <td><lable class="label1" id="storeBisNumL">사업자번호</lable></td>
          <td><input class="input1" type="text" id="storeBisNumI" onchange="fn_update(this, 'name'); return false;"></td>
        </tr>
        <tr>
          <td><lable class="label1" id="storeBisNameL">사업자명</lable></td>
          <td><input class="input1" type="text" id="storeBisNameI" onchange="fn_update(this, 'path'); return false;"></td>
        </tr>
        <tr>
          <td><lable class="label1" id="storePhoneL">전화번호</lable></td>
          <td><input class="input1" type="text" id="storePhoneI" onchange="fn_update(this, 'name'); return false;"></td>
        </tr>
        <tr>
          <td><lable class="label1" id="storeOperTimeL">운영유형</lable></td>
          <td><input class="input1" type="text" id="storeOperTimeI" onchange="fn_update(this, 'path'); return false;"></td>
        </tr>
        <tr>
          <td height="25.1px"><lable class="label1" id="storeAddressL">주소</lable></td>
          <td>
            <input class="input1" style="width:120px;" type="text" id="storeAddressI1" onchange="fn_update(this, 'name'); return false;">
            <button class="button_1"><img style="width:15px; height:15px;" src="/img/find.png"></button>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><input class="input1" type="text" id="storeAddressI2" onchange="fn_update(this, 'name'); return false;"></td>
        </tr>
        <tr>
          <td></td>
          <td><input class="input1" type="text" id="storeAddressI3" onchange="fn_update(this, 'name'); return false;"></td>
        </tr>
        <tr>
          <td><lable class="label1" id="storeEtcL">점포설명</lable></td>
          <td><textarea class="input1" style="height:100px; resize:none;" id="storeEtcI" onchange="fn_update(this, 'path'); return false;"></textarea></td>
        </tr>
      </table>
  </div>
</div>
</body>
</html>