<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>점포관리</title>
  <link href="/css/styles2.css" rel="stylesheet"/>
  <link href="/css/styles.css" rel="stylesheet" />
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/js/datatables-simple-demo.js"></script>
  <script src="/js/scripts.js"></script>
  <script src="/js/scripts2.js"></script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script>
  // 현재 선택된 컴포넌트
  var dv;
  var num = 0;

  // 내용 설정 컴포넌트
  var storeNameI = document.getElementById('storeNameI');
  var storeAccountI = document.getElementById('storeAccountI');
  var storeBisNumI = document.getElementById('storeBisNumI');
  var storeBisNameI = document.getElementById('storeBisNameI');
  var storePhoneI = document.getElementById('storePhoneI');
  var storeOperTimeI = document.getElementById('storeOperTimeI');
  var storeAddressI1 = document.getElementById('storeAddressI1');
  var storeAddressI2 = document.getElementById('storeAddressI2');
  var storeAddressI3 = document.getElementById('storeAddressI3');
  var storeEtcI = document.getElementById('storeEtcI');

  // Json 배열
  var header = $("meta[name='_csrf_header']").attr("content");
  var token = $("meta[name='_csrf']").attr("content");
  var saveJson = new Array();
  var saveCnt = 0;

  // 초기화
  $(function(){

  });

  // 저장 데이터
  function saveTable(event, iRow, colStatus) {
      let id = iRow.dataset.id == null ? '' : iRow.dataset.id;
      let findIdx = saveJson.findIndex(function(data){return data.rowId === "data_" + iRow.id});

      if(event == "insert") {
          // 업데이트
          if(findIdx >= 0) {
            alert('ss');
            saveJson[findIdx].storename = iRow.dataset.storename;
            saveJson[findIdx].account = iRow.dataset.account;
            saveJson[findIdx].bizno = iRow.dataset.bizno;
            saveJson[findIdx].bizname = iRow.dataset.bizname;
            saveJson[findIdx].tel = iRow.dataset.tel;
            saveJson[findIdx].opertime = iRow.dataset.opertime;
            saveJson[findIdx].zipcode = iRow.dataset.zipcode;
            saveJson[findIdx].address1 = iRow.dataset.address1;
            saveJson[findIdx].address2 = iRow.dataset.address2;
            saveJson[findIdx].etc = iRow.dataset.etc;

            return true;
          }

          // 신규
          saveJson[saveCnt++] = {
              "rowId": "data_" + iRow.id
            , "id" : id
            , "storename" : iRow.dataset.storename
            , "account" : iRow.dataset.account
            , "bizno" : iRow.dataset.bizno
            , "bizname" : iRow.dataset.bizname
            , "tel" : iRow.dataset.tel
            , "opertime" : iRow.dataset.opertime
            , "likecnt" : iRow.dataset.likecnt
            , "zipcode" : iRow.dataset.zipcode
            , "address1" : iRow.dataset.address1
            , "address2" : iRow.dataset.address2
            , "etc" : iRow.dataset.etc
            , "colStatus" : colStatus
          };

      } else if(event == "delete") {
          if(findIdx >= 0) {
              saveJson.splice(findIdx, 1);
              saveCnt--;
          }
      }
  }

  // 조회
  function fn_view() {
    let subDiv = document.getElementById('subDiv');

    saveCnt = 0;
    saveJson = new Array();

    let str = '<table id=\"datatable\" style=\"margin-left:5px;\">';
        str += '  <thead>';
        str += '    <tr>';
        str += '      <th style="width:100px;" class=\"td_border2\">점포코드</th>';
        str += '      <th style="width:100px;" class=\"td_border2\">점포명</th>';
        str += '      <th style="width:100px;" class=\"td_border2\">계정</th>';
        str += '      <th style="width:100px;" class=\"td_border2\">사업자번호</th>';
        str += '      <th style="width:100px;" class=\"td_border2\">사업자명</th>';
        str += '      <th style="width:100px;" class=\"td_border2\">전화번호</th>';
        str += '      <th style="width:100px;" class=\"td_border2\">운영유형</th>';
        str += '      <th style="width:100px;" class=\"td_border2\">좋아요 수</th>';
        str += '      <th style="width:200px;" class=\"td_border2\">주소</th>';
        str += '      <th style="width:300px;" class=\"td_border2\">점포설명</th>';
        str += '    </tr>';
        str += '  </thead>';
        str += '  <tbody>';
        str += '    <tr class=\"tr_hover1\" onclick=\"tr_onclick(this);\" ';
        str += '        id=\"' + 1 + '\"';
        str += '        data-id=\"' + 1 + '\"';
        str += '        data-storename=\"' + 3 + '\"';
        str += '        data-account=\"' + 4 + '\"';
        str += '        data-bizno=\"' + 5 + '\"';
        str += '        data-bizname=\"' + 6 + '\"';
        str += '        data-tel=\"' + 10 + '\"';
        str += '        data-opertime=\"' + 'A' + '\"';
        str += '        data-likecnt=\"' + 12 + '\"';
        str += '        data-zipcode=\"' + 7 + '\"';
        str += '        data-address1=\"' + 8 + '\"';
        str += '        data-address2=\"' + 9 + '\"';
        str += '        data-etc=\"' + 13 + '\"';
        str += '        data-status=\"default\"> ';
        str += '      <td class=\"td_border\">1</td>';
        str += '      <td class=\"td_border\">슬기네집</td>';
        str += '      <td class=\"td_border\">skkim</td>';
        str += '      <td class=\"td_border\">7777777777</td>';
        str += '      <td class=\"td_border\">자몽쓰</td>';
        str += '      <td class=\"td_border\">01077777777</td>';
        str += '      <td class=\"td_border\">뭐였더라</td>';
        str += '      <td class=\"td_border\">1334</td>';
        str += '      <td class=\"td_border\">경기도 김포시 풍무동 땡댕댕댕 아라비아 12호</td>';
        str += '      <td class=\"td_border\">운영시간은 0000~2359</td>';
        str += '    </tr>';
        str += '  </tbody>';
        str += '</table>';

    subDiv.innerHTML = str;

    fn_compInit();
  }

  // 저장
  function fn_save() {
      if(saveJson.length <= 0) {
          alert('저장할 데이터가 없습니다');
          return false;
      }

      $.ajax({
          type: "POST"
        , url : "/store/save"
        ,beforeSend: function(xhr){
          xhr.setRequestHeader(header, token);
        }
        , dataType : "text" // dataType에 따라 실패가 될 수도 있음
        , contentType : "application/json"
        , data : JSON.stringify(saveJson)
      })
      .done(successFunction)
      .fail(failFunction);
  }

  function successFunction(){
      alert('저장되었습니다.');
      fn_compInit();
      saveCnt = 0;
      saveJson = new Array();
      fn_view();
  }

  function failFunction(){
      alert("관리자에게 문의 바랍니다.");
  }

  // 추가
  function fn_add() {
    // 테이블
    let table = document.getElementById('datatable');
    let row;
    let cell;
    let array = ['id', 'storename' ,'account' ,'bizno' ,'bizname','tel'
                ,'opertime' ,'likecnt' ,'address' ,'etc'];

    // 신규 추가 시 초기화
    row = table.insertRow();

    row.className = 'tr_hover1';
    row.addEventListener("click", () => { tr_onclick(row); });
    row.dataset.id = '';
    row.dataset.storename = '';
    row.dataset.account = '';
    row.dataset.bizno = '';
    row.dataset.bizname = '';
    row.dataset.tel = '';
    row.dataset.opertime = '';
    row.dataset.likecnt = 0;
    row.dataset.zipcode = '';
    row.dataset.address1 = '';
    row.dataset.address2 = '';
    row.dataset.etc = '';
    row.dataset.status = 'new';
    row.id = 'new'+(num++);

    for(var i=0; i<array.length; i++) {
      cell = row.insertCell(i);
      cell.id = row.id + array[i];
      cell.className = 'td_border';
      cell.innerHTML = 'ㅤ';
    }

    saveTable('insert', row, 'N');
  }

  // 삭제
  function fn_del() {
      // 테이블
      let table = document.getElementById('datatable');

      if(dv == null) {
          alert("삭제할 대상을 선택해주세요.");
          return false;
      }

      if(dv.dataset.id == '') {
        saveTable('delete', dv, 'N');
      } else {
        saveTable('insert', dv, 'D');
      }

      table.deleteRow(dv.rowIndex);
      fn_compInit();
      dv = null;
  }

  // 데이터 변경
  function fn_update(obj, str) {
    var tdEle1 = document.getElementById(dv.id+'storename');
    var tdEle2 = document.getElementById(dv.id+'account');
    var tdEle3 = document.getElementById(dv.id+'bizno');
    var tdEle4 = document.getElementById(dv.id+'bizname');
    var tdEle5 = document.getElementById(dv.id+'tel');
    var tdEle6 = document.getElementById(dv.id+'opertime');
    var tdEle7 = document.getElementById(dv.id+'address');
    var tdEle8 = document.getElementById(dv.id+'etc');

    if(str == 'storename') {
      tdEle1.innerHTML = obj.value;
      dv.dataset.storename = obj.value;
    } else if (str == 'account') {
      tdEle2.innerHTML = obj.value;
      dv.dataset.account = obj.value;
    } else if (str == 'bizno') {
      tdEle3.innerHTML = obj.value;
      dv.dataset.bizno = obj.value;
    } else if (str == 'bizname') {
      tdEle4.innerHTML = obj.value;
      dv.dataset.bizname = obj.value;
    } else if (str == 'tel') {
      tdEle5.innerHTML = obj.value;
      dv.dataset.tel = obj.value;
    } else if (str == 'opertime') {
      tdEle6.innerHTML = obj.value; // 흠...
      dv.dataset.opertime = obj.value;
    } else if (str == 'address') {
      tdEle7.innerHTML = fn_global_null(storeAddressI1.value) + ' ' + fn_global_null(storeAddressI2.value) + ' '
                       + fn_global_null(storeAddressI3.value);
      dv.dataset.zipcode = fn_global_null(storeAddressI1.value);
      dv.dataset.address1 = fn_global_null(storeAddressI2.value);
      dv.dataset.address2 = fn_global_null(storeAddressI3.value);
    } else if (str == 'etc') {
      tdEle8.innerHTML = obj.value;
      dv.dataset.etc = obj.value;
    }

    saveTable('insert', dv, 'N');
  }

  // 행 선택
  function tr_onclick(obj) {
    // 이전에 선택한 컴포넌트 원상복구
    if(dv != null) {
        dv.style.background = '';
    }

    // 선택한 컴포넌트
    dv = event.currentTarget;

    // 선택한 컴포넌츠 색상 변경
    dv.style.background = '#F2F2F2';

    storeNameI.value = obj.dataset.storename;
    storeAccountI.value = obj.dataset.account;
    storeBisNumI.value = obj.dataset.bizno;
    storeBisNameI.value = obj.dataset.bizname;
    storePhoneI.value = obj.dataset.tel;
    storeOperTimeI.value = obj.dataset.opertime;
    storeAddressI1.value = obj.dataset.zipcode;
    storeAddressI2.value = obj.dataset.address1;
    storeAddressI3.value = obj.dataset.address2;
    storeEtcI.value = obj.dataset.etc;
  }

  // 주소 찾기
  function fn_address(obj)
  {
    if(dv == null) {
      alert('대상을 선택해야합니다.');
      return false;
    }

    new daum.Postcode({
        oncomplete: function(data) {
            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

            // 각 주소의 노출 규칙에 따라 주소를 조합한다.
            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
            var addr = ''; // 주소 변수
            var extraAddr = ''; // 참고항목 변수

            //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
            if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                addr = data.roadAddress;
            } else { // 사용자가 지번 주소를 선택했을 경우(J)
                addr = data.jibunAddress;
            }

            // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
            if(data.userSelectedType === 'R'){
                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraAddr !== ''){
                    extraAddr = ' (' + extraAddr + ')';
                }
                // 조합된 참고항목을 해당 필드에 넣는다.
                data.zonezode = data.zonezode + extraAddr;

            }

            // 우편번호와 주소 정보를 해당 필드에 넣는다.
            document.getElementById('storeAddressI1').value = data.zonecode;
            document.getElementById("storeAddressI2").value = addr;

            // 커서를 상세주소 필드로 이동한다.
            document.getElementById("storeAddressI3").focus();

            fn_update(obj, 'address');
        }
    }).open();
  }

  // 컴포넌트 초기화
  function fn_compInit() {
    storeNameI.value = '';
    storeAccountI.value = '';
    storeBisNumI.value = '';
    storeBisNameI.value = '';
    storePhoneI.value = '';
    storeOperTimeI.value = '';
    storeAddressI1.value = '';
    storeAddressI2.value = '';
    storeAddressI3.value = '';
    storeEtcI.value = '';
  }

  </script>
</head>
<body>
<div id="div_menu" style="width:70%; float:left; height:100%;">
  <div class="card" style="width:100%; float:left; height:100%;">
    <div id="btnZone1" style="float:left; margin:5px 5px 5px 5px;">
      <nav style="float:left; display:inline-block;font-size:12px;">
        점포명 : <input type="text">
      </nav>
      <nav style="float:right; display:inline-block;">
        <button class="button_2" onclick="fn_add();">추가</button>
        <button class="button_2" onclick="fn_del();">삭제</button>
        <button class="button_2" id="viewBtn" onclick="fn_view(); return false;">조회</button>
        <button class="button_2" id="saveBtn" onclick="fn_save(); return false;">저장</button>
      </nav>
    </div>
    <div style="width:100%; overflow:auto;">
      <div id="subDiv" style="width:1310px; height:400px; font-size:13px;">
        <table id="datatable" style="margin-left:5px;">
          <thead>
          <tr>
            <th style="width:100px;" class="td_border2">점포코드</th>
            <th style="width:100px;" class="td_border2">점포명</th>
            <th style="width:100px;" class="td_border2">계정</th>
            <th style="width:100px;" class="td_border2">사업자번호</th>
            <th style="width:100px;" class="td_border2">사업자명</th>
            <th style="width:100px;" class="td_border2">전화번호</th>
            <th style="width:100px;" class="td_border2">운영유형</th>
            <th style="width:100px;" class="td_border2">좋아요 수</th>
            <th style="width:200px;" class="td_border2">주소</th>
            <th style="width:300px;" class="td_border2">점포설명</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div style="width:1%; float:left;">ㅤ</div>
<div id="div_menu_detail" class="card mb-4" style="width:29%; height:100%; float:left; height:100%; font-size:13px;">
  <div class="card-body" id="menuInput">
      <table>
        <tr>
          <td><lable class="label1" id="storeNameL">점포명</lable></td>
          <td><input class="input1" type="text" id="storeNameI" onchange="fn_update(this, 'storename'); return false;"></td>
        </tr>
        <tr>
          <td><lable class="label1" id="storeAccountL">계정</lable></td>
          <td><input class="input1" type="text" id="storeAccountI" onchange="fn_update(this, 'account'); return false;"></td>
        </tr>
        <tr>
          <td><lable class="label1" id="storeBisNumL">사업자번호</lable></td>
          <td><input class="input1" type="text" id="storeBisNumI" onchange="fn_update(this, 'bizno'); return false;"></td>
        </tr>
        <tr>
          <td><lable class="label1" id="storeBisNameL">사업자명</lable></td>
          <td><input class="input1" type="text" id="storeBisNameI" onchange="fn_update(this, 'bizname'); return false;"></td>
        </tr>
        <tr>
          <td><lable class="label1" id="storePhoneL">전화번호</lable></td>
          <td><input class="input1" type="text" id="storePhoneI" onchange="fn_update(this, 'tel'); return false;"></td>
        </tr>
        <tr>
          <td><lable class="label1" id="storeOperTimeL">운영유형</lable></td>
          <td>
            <select class="input1" id="storeOperTimeI" onchange="fn_update(this, 'opertime'); return false;">
              <option value="">- 선택 -</option>
              <option value="A">운영중</option>
              <option value="B">휴점</option>
              <option value="C">폐업</option>
            </select>
          </td>
        </tr>
        <tr>
          <td height="25.1px"><lable class="label1" id="storeAddressL">주소</lable></td>
          <td>
            <input class="input1" style="width:120px;" type="text" id="storeAddressI1" onchange="fn_update(this, 'address'); return false;" placeholder="우편번호 입력">
            <button class="button_1" onclick="fn_address(this);"><img style="width:15px; height:15px;" src="/img/find.png"></button>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><input class="input1" type="text" id="storeAddressI2" onchange="fn_update(this, 'address'); return false;" placeholder="도로명 또는 지번명 입력"></td>
        </tr>
        <tr>
          <td></td>
          <td><input class="input1" type="text" id="storeAddressI3" onchange="fn_update(this, 'address'); return false;" placeholder="상세주소 입력"></td>
        </tr>
        <tr>
          <td><lable class="label1" id="storeEtcL">점포설명</lable></td>
          <td><textarea class="input1" style="height:100px; resize:none;" id="storeEtcI" onchange="fn_update(this, 'etc'); return false;"></textarea></td>
        </tr>
      </table>
  </div>
</div>
</body>
</html>