@charset "UTF-8";

button.button_1 {
  border: 0;
  background: #BDBDBD;
  color: black;
  cursor: pointer;
  border-radius: 5px;
}

button.button_1:hover {
  background: #A4A4A4;
}

button.button_2 {
  box-sizing: border-box;
  border: 0;
  outline: none;
  font-size: 10px;
  background: black;
  color: white;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

button.button_2:hover {
  color: white;
  background: orange;
}

tr.tr_hover1:hover td
{
	background:#F2F2F2;
}

.td_border
{
  border : 1px solid #e3e3e3;
  border-collapse : collapse;
}

.td_border2
{
  border-left : 1px solid #e3e3e3;
  border-right : 1px solid #e3e3e3;
  border-top : 1px solid #e3e3e3;
  border-bottom : 3px solid #e3e3e3;
  border-collapse : collapse;
  text-align : center;
}

.label1
{
  color : #65646C;
  font-weight : bold;
}

.input1
{
  border-radius : 5px;
  background-color : #F7F7F7;
  border : 1px solid #e3e3e3;
}

h5
{
  margin:5px;
  font-weight : bold;
  cursor: pointer;
}

.cardChoice {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 3px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.page_wrap {
	text-align:center;
	font-size:0;
 }
.page_nation {
	display:inline-block;
}
.page_nation .none {
	display:none;
}
.page_nation a {
	display:block;
	margin:0 3px;
	float:left;
	border:1px solid #e6e6e6;
	width:28px;
	height:28px;
	line-height:28px;
	text-align:center;
	background-color:#fff;
	font-size:13px;
	color:#999999;
	text-decoration:none;
}
.page_nation .arrow {
	border:1px solid #ccc;
}
.page_nation .pprev {
	margin-left:0;
}
.page_nation .prev {
	margin-right:7px;
}
.page_nation .next {
	margin-left:7px;
}
.page_nation .nnext {
	margin-right:0;
}
.page_nation a.active {
	background-color:#42454c;
	color:#fff;
	border:1px solid #42454c;
}

.page_nation a:hover {
	background-color:#42454c;
	color:white;
	border:1px solid #42454c;
	cursor: pointer;
}