@charset "UTF-8";

button.button_2 {
  box-sizing: border-box;
  border: 0;
  outline: none;
  font-size: 10px;
  background: black;
  color: white;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

button.button_2:hover {
  color: white;
  background: orange;
}

tr.tr_hover1:hover td
{
	background:#aba5a5;
}

.td_border
{
  border : 1px solid black;
  border-collapse : collapse;
}